services:
  postgres:
    image: postgres:15
    container_name: ps_task2_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: profitsoft
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ps_task2_app
    depends_on:
      postgres:
        condition: service_healthy
    working_dir: /app
    ports:
      - "8080:8080"
    restart: on-failure
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail http://localhost:8080/actuator/health || exit 1" ]
      interval: 15s
      timeout: 5s
      retries: 8

volumes:
  pgdata:
